body {
    background: linear-gradient(blue, black);
    color: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#loginContainer{
    width: 270px;
    height: fit-content;
    border: 2px solid ghostwhite;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px) brightness(100%);
    padding: 40px 20px;
    border-radius: 10px;
    justify-items: center;
    box-shadow: 5px 10px 20px blue;
}

#loginbtn{
    background: linear-gradient(blue, black);
    padding: 5px;
    border-radius: 50px;
}

input[type="email"],
input[type="text"],
input[type="password"]{
    width: 100%;
    height: 20px;
    border-radius: 30px;
    outline: none;
    padding: 7px 8px;
    border: none;
    margin: 10px 0;
    font-weight: bolder;
    background: inherit;
    box-shadow: 0 0 10px white inset;
    color: whitesmoke;
}

button{
    border-radius: 50px;
    background:  linear-gradient(blue, black);
    width: 100%;
    height: 40px;
    color: white;
    padding: 10px 5px auto;
    margin-top: 10px;
    transition: 2s;
    border: none;
}

button:hover{
    transition: 2s;
    background:  black;
    font-size: 15px;
    font-weight: bold;
}

.regform{
    display: none;
    width: 270px;
    height: fit-content;
    border: 2px solid ghostwhite;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px) brightness(100%);
    padding: 40px 20px;
    border-radius: 10px;
    justify-items: center;
    box-shadow: 5px 10px 20px blue;
    }

#container.logform{
    display: block;
}

#toggleBG{
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    color: red;
}

#BGs{
    display: flex;
    background: white;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    justify-items: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
}

#BGs div{
    margin: 7px;
}


a{
    color: white;
    font-weight: bolder;
    text-decoration-color: red;
}